.background{
  background-color: rgb(44,53,57);
  background-image: url('https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_SuperMarioOdyssey_image1280w.jpg');
}

.content{   
  margin-top: -50px; 
  width: 70%;
  float: unset;
  margin-left: auto;
  background-color: #f0c800;
  margin-right: auto;
  padding-top: 2px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: darkgray; 
}


.title-header {
  background-color: #33333300; /* Background color of the header */
  padding: 20px 0; 
  text-align: center;
}

.review-title {
  text-align: center; /* Aligns the text to the center */
  font-size: 3em; 
  border: 2px solid #000000;
  padding: 10px 20px;
  border-radius: 8px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);     display: inline-block;
  background-color: hsl(0, 0%, 20%);
}

/*navigation bar start*/
.navbar-container {
  display: flex;
  justify-content: center; /* Center items horizontally */
  
}

ul /*contains all buttons*/ {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hsl(0, 0%, 20%); /*bar background colour*/
}

/*buttons themselves and content*/

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #20060600;/*idk what this one does*/
}

h1 {
  text-align: center;
}

.reviews-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 20px auto;
}

.review-link {
  margin: 10px;
  text-decoration: none;
}

.review-link img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.review-link img:hover {
  transform: scale(1.1);
}
